*{
    margin: 0;
}
#topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C2B2B;
}
#nav-image{
    display: flex;
    margin: 0 0 0 0;
    gap:4vw;
    height: 30vw;
    width: auto;
}
#nav-image img{
    height: 100%;
    width: auto;
}
.menu{
    position: absolute;
    display:none;
    flex-direction: column;
    padding-left: 2vh;
    padding-right: 2vh;
    height: 30vw;
    top: 8vh;
    right: 2vh;
    background-color: #1C2B2B;
}
.menu li a{
    text-decoration: none;
    color: black;
}
.menu-toggle{
    max-width: 10vw;
    width: 100%;
    margin: 2vh;

}
.menu-toggle img{
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;

}
.menu.active{
    max-height: 20vh;
    display: flex;
    flex-direction: column;
    margin-left: 1vh;
    justify-content: space-around;
    list-style: none;
}